body {
    background-image: conic-gradient(red,blue,orange);
    opacity: 0.5;
}
.container {
    border: 2px solid aqua;
    width: 450px;
    height: 300px;
    color:#000;
    margin: 120px auto;
}